@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700);

@font-face {
  font-family: 'Berlin Sans';
  src: url(./public/BRLNSDB.TTF);
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.experience{
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.experience-camvas{
  width: 100%;
  height: 100%;
}


html, body {
  height: 100%;
  margin: 0;
}
body {
  font-family: 'Lato', sans-serif; 
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}


.text-intro, button{
  position: relative;
  left:2rem;
  top: 3rem;
  cursor: pointer;
  width: 9rem;
  height: 3rem;
  z-index: 10;
  font-size: 1.3rem;
  text-align: center;
  border-radius: 1rem;
  border: none;
  background-color: #54757d;
  font-family: 'Berlin Sans';
  font-weight: 200;
  color: #303030;
}

button:hover{
  color: rgb(133, 179, 179);
}
