
@font-face {
    font-family: 'Berlin Sans';
    src: url(/fonts/BRLNSDB.TTF); 
  } 
  
@font-face {
  font-family: 'Arcade';
  src: url(/fonts/ARCADE_N.TTF);
}

@font-face {
  font-family: 'BVPLIGHT', sans-serif;
  src: url(/fonts/BVPLIGHT.TTF);
}
  
@font-face {
  font-family: 'BVPREGULAR', sans-serif;
  src: url(/fonts/BVPREGULAR.TTF);
}  
@font-face {
  font-family: 'BVPBOLD', sans-serif;
  src: url(/fonts/BVPBOLD.TTF);
}  
@font-face {
  font-family: 'BVPSBOLD', sans-serif;
  src: url(/fonts/BVPSBOLD.TTF);
} 
@font-face {
  font-family: 'BVPSMEDIUM', sans-serif;
  src: url(/fonts/BVPSMEDIUM.TTF);
}