@import url(./generic.css);


header, nav{
    width: 100%;
    height: 100px;
}

nav{
    position: relative;
}

a{
    text-decoration: none;
    color: #777777;
}

li{
    list-style-type: none;
}

.header-links{
    width: 100%;
    height: 100%;
    display: flex;
    font-weight: 400;
    justify-content: space-around;
    align-items: center;
    transition: all 300ms;
}

.header-links a:hover{
    transition: all 300ms;
    color: #A870E2;
}

.header-logo a{
    display: flex;
    color: black;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 50px;
    margin-right: 2rem;
}


.title{
    font-weight: var(--fw-vietnam-MEDIUM);
    /* font-family: var(--ff-vietnam-MEDIUM); */
}

.searcher{
    width: 300px;
}

.searchbar{
    position: relative;
    display: flex;
    align-items: center;
}

.searchbar input{
    height: 10px;
    border-radius: 35px;
    border: none;
    outline: none;
    padding: 1rem;
    width: 100%;
}


.user-options{
    display: flex;
    align-items: center;    
}

.link-icon{
    width: 30px;
}

.heart-icon{
    width: 34px;
}

.magn-glass{
    position: absolute;
    width: 23px;
    right:15px;
}
.user-link{
    margin: 0 .3rem 0 .3rem;
}